body {
  text-align: center;
  background-color: #000000;
}

h1 {
  font-size: 5rem;
  color: #fff1c9;
  font-family: 'Bungee Shade', cursive;
  text-shadow: 3px 0 #80391e;
}

h2 {
  font-size: 2rem;
  color: #fff1c9;
  font-family: 'Bungee Shade', cursive;
  text-shadow: 3px 0 #80391e;
}
footer{
  color: #fff1c9;
  font-family: 'Bungee Shade', cursive;
  font-size: 2rem;
  margin: 2rem;
}
table{
  font-size: 1.5rem;
  color: #fff1c9;
  font-family: 'Bungee Shade', cursive;
  text-shadow: 2px 0 #80391e;
  margin-left: auto;
  margin-right: auto;
}
